<html th:replace="~{Admin/Adminbase::layout(~{::main})}">
<body>
<main>
<div class="row">
<div class="col-sm-12">
<div class="card shadow">
<div class="card-header bg-primary">
<h4 class="text-center m-0 text-white">All Enquiry</h4>
</div>
<div class="card-body">
<div class="table-responsive">
<table class="table table-bordered" id="example">
<thead>
<tr>
<th>Sr No</th>
<th>Name</th>
<th>Contact No</th>
<th>Email</th>
<th>Title</th>
<th>Message</th>
<th>Enquiry Date</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<tr th:each="e,srno:${enquiry}">
<td th:text="${srno.index+1}"></td>
<td th:text="${e.name}"></td>
<td th:text="${e.contactNo}"></td>
<td th:text="${e.email}"></td>
<td th:text="${e.title}"></td>
<td th:text="${e.message}"></td>
<td th:text="${#temporals.format(e.enquiryDate, 'dd-MMM-yyyy hh:mm a')}"></td>
<td>
<a th:href="@{'DeleteEnquiry/'+${e.id}}" onclick="return confirm('Are you sure want to delete')" class="btn btn-danger btn-sm">Delete</a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>
</main>
</body>
</html>