<html th:replace="~{base::layout(~{::main})}">
<body>
<main>
<!--Slider start-->
        <div class="row mt-3">
            <div class="col-sm-11 mx-auto">
                <div class="row">
                    <div id="carouselExample" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="slider6.avif" class="d-block w-100" height="400px" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="slider5.avif" class="d-block w-100" height="400px" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="slider4.jpg" class="d-block w-100" height="400px" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden pe-2">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--Slider end-->
        <!--Deals start-->
        <!--grab the best deal on smartphones start-->
        <div class="row mt-5">
            <div class="col-sm-11 mx-auto">
                <h4>Grab the best deal on <span class="text-blue">Smartphones</span></h4>
                <div class="line"></div>
                <div class="row mt-5">
                    <div class="col-sm-2">
                        <div class="card shadow rounded-1">
                            <img src="mobile.jpg" class="deal-img img-fluid" alt="...">
                            <div class="card-body">
                                <h6 class="card-text">Glaxy S22 Ultra</h6>
                                <h6 class="card-text">₹ 32999 <del>₹ 74999</del></h6>
                                <hr>
                                <h6 class="text-success">Save - ₹32999</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card shadow rounded-1">
                            <img src="ipnone.jpg" class="card-img-top deal-img" alt="...">
                            <div class="card-body">
                                <h6 class="card-text">i Phone 11</h6>
                                <h6 class="card-text">₹ 45999 <del>₹ 75999</del></h6>
                                <hr>
                                <h6 class="text-success">Save - ₹45999</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card shadow rounded-1">
                            <img src="oppo.jpg" class="card-img-top deal-img" alt="...">
                            <div class="card-body">
                                <h6 class="card-text">Oppo india</h6>
                                <h6 class="card-text">₹ 1000 <del>₹ 74999</del></h6>
                                <hr>
                                <h6 class="text-success">Save - ₹32999</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card shadow rounded-1">
                            <img src="oneplus.jpg" class="card-img-top deal-img" alt="...">
                            <div class="card-body">
                                <h6 class="card-text">OnePlus 5G</h6>
                                <h6 class="card-text">₹ 1000 <del>₹ 74999</del></h6>
                                <hr>
                                <h6 class="text-success">Save - ₹32999</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card shadow rounded-1">
                            <img src="moto.jpg" class="card-img-top deal-img" alt="...">
                            <div class="card-body">
                                <h6 class="card-text">Motorola 5g</h6>
                                <h6 class="card-text">₹ 15000 <del>₹ 20999</del></h6>
                                <hr>
                                <h6 class="text-success">Save - ₹32999</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="card shadow rounded-1">
                            <img src="realme.jpg" class="card-img-top deal-img" alt="...">
                            <div class="card-body">
                                <h6 class="card-text">Realme 5g</h6>
                                <h6 class="card-text">₹ 1000 <del>₹ 74999</del></h6>
                                <hr>
                                <h6 class="text-success">Save - ₹32999</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--grab the best deal on smartphones end-->
        <!--Top categories start-->
        <div class="row mt-5">
            <div class="col-sm-11 mx-auto">
                <h4>Shop From <span class="text-blue">Top Categories</span></h4>
                <div class="line1"></div>
                <div class="row mt-3 g-4">
                    <div class="col-auto">
                        <div class="categories">
                            <img src="mobile.jpg" alt="" class="mob">
                        </div>
                        <p class="text-center">Mobile</p>
                    </div>

                    <div class="col-auto">
                        <div class="categories">
                            <img src="images/freeze.jpg" alt="" class="mob">
                        </div>
                        <p class="text-center">Freeze</p>
                    </div>

                    <div class="col-auto">
                        <div class="categories">
                            <img src="images/cooler.jpg" alt="" class="mob">
                        </div>
                        <p class="text-center">Cooler</p>
                    </div>

                    <div class="col-auto">
                        <div class="categories">
                            <img src="images/irons.jpg" alt="" class="mob">
                        </div>
                        <p class="text-center">Irons</p>
                    </div>

                    <div class="col-auto">
                        <div class="categories">
                            <img src="images/fans.jpg" alt="" class="mob">
                        </div>
                        <p class="text-center">Fans</p>
                    </div>
                    
                    <div class="col-auto">
                        <div class="categories">
                            <img src="mobile.jpg" alt="" class="mob">
                        </div>
                        <p class="text-center">Lights</p>
                    </div>

                    <div class="col-auto">
                        <div class="categories">
                            <img src="images/laptop.jpg" alt="" class="mob">
                        </div>
                        <p class="text-center">Laptops</p>
                    </div>

                    <div class="col-auto">
                        <div class="categories">
                            <img src="mobile.jpg" alt="" class="mob">
                        </div>
                        <p class="text-center">Headphones</p>
                    </div>
                </div>
            </div>
        </div>
        <!--Top categories end-->
        <!--Electronic Brands start-->
        <div class="row mt-3">
            <div class="col-sm-11 mx-auto">
                <div class="row">
                    <h4>Top Electronic<span class="text-blue"> Brands</span></h4>
                    <div class="line2 ms-2"></div>
                </div>
                <div class="row my-4">
                    <div id="cardSlider" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row text-center">
                                    <div class="col-4">
                                        <div class="card shadow"><img src="slider7.avif" alt="" height="250px"></div>
                                    </div>
                                    <div class="col-4">
                                        <div class="card shadow"><img src="slider9.jpg" alt="" height="250px"></div>
                                    </div>
                                    <div class="col-4">
                                        <div class="card shadow"><img src="slider8.avif" alt="" height="250px"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item active">
                                <div class="row text-center">
                                    <div class="col-4">
                                        <div class="card shadow"><img src="slider7.avif" alt="" height="250px"></div>
                                    </div>
                                    <div class="col-4">
                                        <div class="card shadow"><img src="slider9.jpg" alt="" height="250px"></div>
                                    </div>
                                    <div class="col-4">
                                        <div class="card shadow"><img src="slider8.avif" alt="" height="250px"></div>
                                    </div>
                                </div>
                            </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#cardSlider"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#cardSlider"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--Electronic Brands end-->
        <!--daily essential start-->
        <div class="row my-4">
            <div class="col-sm-11 mx-auto">
                <div class="row">
                    <h4>Top<span class="text-blue"> Brands</span></h4>
                    <div class="line3 ms-2"></div>
                </div>
                <div class="row mt-3 g-4">
                    <div class="col-auto">
                        <div class="top-brand">
                            <img src="images/samsung.png" alt="" class="top-brand">
                        </div>
                        <p class="text-center m-0">Samsung</p>
                        <p class="text-center fw-semibold">Up to 30% off</p>
                    </div>

                    <div class="col-auto">
                        <div class="top-brand">
                            <img src="images/apple.jpg" alt="" class="top-brand">
                        </div>
                        <p class="text-center m-0">Apple</p>
                        <p class="text-center fw-semibold">Up to 20% off</p>
                    </div>

                    <div class="col-auto">
                        <div class="top-brand">
                            <img src="images/motorola.png" alt="" class="top-brand">
                        </div>
                        <p class="text-center m-0">Motorola</p>
                        <p class="text-center fw-semibold">Up to 30% off</p>
                    </div>

                    <div class="col-auto">
                        <div class="top-brand">
                            <img src="images/haier.png" alt="" class="top-brand">
                        </div>
                        <p class="text-center m-0">Haier</p>
                        <p class="text-center fw-semibold">Up to 10% off</p>
                    </div>

                    <div class="col-auto">
                        <div class="top-brand">
                            <img src="images/havels.png" alt="" class="top-brand">
                        </div>
                        <p class="text-center m-0">Havells</p>
                        <p class="text-center fw-semibold">Up to 30% off</p>
                    </div>

                    <div class="col-auto">
                        <div class="top-brand">
                            <img src="images/lenovo.png" alt="" class="top-brand">
                        </div>
                        <p class="text-center m-0">Lenovo</p>
                        <p class="text-center fw-semibold">Up to 30% off</p>
                    </div>

                    <div class="col-auto">
                        <div class="top-brand">
                            <img src="images/noise.png" alt="" class="top-brand">
                        </div>
                        <p class="text-center m-0">Noise</p>
                        <p class="text-center fw-semibold">Up to 40% off</p>
                    </div>

                    <div class="col-auto">
                        <div class="top-brand">
                            <img src="images/realme.png" alt="" class="top-brand">
                        </div>
                        <p class="text-center m-0">Realme</p>
                        <p class="text-center fw-semibold">Up to 20% off</p>
                    </div>
                </div>
            </div>
        </div>
        <!--daily essential end-->
        <!--Deals end-->
</main>
</body>
</html>