<html th:replace="~{Seller/Sellerbase::layout(~{::main})}">
<body>
<main>
<div class="row my-5">
<div class="col-sm-7 mx-auto">
<div class="card shadow">
<div class="card-header bg-primary">
<h4 class="text-center text-white m-0">Change Password</h4>
</div>
<div class="card-body">
<form method="post" class="px-4">
<div class="mt-3">
<label>Enter Old Password</label>
<input name="oldPass" type="password" class="form-control" required placeholder="Old Password...">
</div>
<div class="mt-3">
<label>Enter New Password</label>
<input name="newPass" type="password" class="form-control" required placeholder="New Password...">
</div>
<div class="mt-3">
<label>Enter Confirm Password</label>
<input name="confirmPass" type="password" class="form-control" required placeholder="Confirm Password...">
</div>
<div class="mt-4 text-center">
<button type="submit" class="btn btn-primary">Change Password</button>
</div>
</form>
</div>
</div>
</div>
</div>

</main>
</body>
</html>