<html th:replace="~{Seller/Sellerbase::layout(~{::main})}">
<head>
<body>
<main>
<div class="row">
<div class="col-sm-12">
<div class="card shadow">
<div class="card-header bg-primary">
<h4 class="text-center m-0 text-white">Manage Your Products</h4>
</div>
<div class="card-body">
<div class="table-responsive">
<table class="table table-bordered" id="example">
<thead>
<tr>
<th>Sr.No</th>
<th>Product Image</th>
<th>Product Name</th>
<th>Description</th>
<th>Brand Name</th>
<th>Category</th>
<th>Price</th>
<th>Discount</th>
<th>Final Price</th>
<th>Stock Available</th>
<th>Status</th>
<th>COD</th>
<th>Cancellation</th>
<th>Shipping</th>
<th>Shipping Charge</th>
<th>Delivery Time</th>
 <th>Return Days</th>
<th>Return Condition</th>
<th>Warranty</th>
<th>Warranty Duration</th>
<th>Warranty Terms</th>
<th>Listed At</th>
<th>Updated At</th>
<th>Action</th>
</tr>
</thead>
<tbody>
<tr th:each="product, srno : ${products}">
<td th:text="${srno.index+1}"></td>
<td>
<img alt="Image not found" th:each="img : ${product.productImages}" th:src="@{'/ProductImages/'+${img}}" width="50px" height="50px"; class="p-1 border border-danger m-1">
</td>
<td th:text="${product.productName}"></td>
<td th:text="${#strings.abbreviate(product.productDescription, 50)}"></td>
<td th:text="${product.brandName}"></td>
<td><span th:text="${product.category?.categoryName}"></span></td>
<td th:text="${'₹'+product.pricePerUnit}"></td>
<td th:text="${product.discount+'%'}"></td>
<td th:text="${product.finalPrice}"></td>
<td th:text="${product.quantityAvailable+' pcs'}"></td>
<td>
<span class="badge" th:text="${product.status}" th:classappend="${product.status.name()=='AVAILABLE'}?'badge-success' : 'badge-danger'">asbc></span>
</td>
<td th:text="${product.codAvailable ? 'Yes' : 'No'}"></td>
<td th:text="${product.cancellationAllowed==true ? 'Yes' : 'No'}"></td>
<td th:text="${product.shippingType}"></td>
<td th:text="${'₹'+product.shippingCharge}"></td>
<td th:text="${product.minDeliveryDays+'- '+product.maxDeliveryDays}"></td>
<td th:text="${product.returnDays+ ' Days'}"></td>
<td th:text="${product.returnCondition!=null ? product.returnCondition : 'No Return Allowed'}"></td>
<td th:text="${product.warranty ? 'Available' : 'NA'}"></td>
<td th:text="${product.warranty ? product.warrantyDuration +' '+product.warrantyUnit : 'NA'}"></td>
<td th:text="${product.warranty ? product.warrantyTerms : 'NA'}"></td>
<td th:text="${#temporals.format(product.createdAt, 'dd-MM-yyyy')}"></td>
<td th:text="${#temporals.format(product.updatedAt, 'dd-MM-yyyy')}"></td>
<td>
<a th:href="@{'ProductVisibility/'+${product.id}}" class="btn btn-sm" onclick="return confirm('Are you sure to change visibility')" th:classappend="${product.visibility ? 'btn-success' : 'btn-danger'}" th:text="${product.visibility ? 'Visible' : 'Hidden'}"></a>
<a th:href="@{/Seller/EditProduct(id=${product.id})}" 
   class="btn btn-sm btn-primary">Update</a>
</td>

</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>

</thead>
</div>
</div>
</main>
</body>
</head>
</html>	